<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeAndroid"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- 해당 액티비티를 앱이 구동될 때 처음으로 실행되는 메인 액티비티로 설정하는 코드 -->

                <category android:name="android.intent.category.LAUNCHER" /> <!-- 안드로이드 홈에 앱의 아이콘 정보를 전달하는 코드 -->
            </intent-filter>
        </activity>
    </application>

</manifest>